@{
	ViewData["Title"] = "About Us";
}
<div class="text-center">
	<h1>@ViewData["Title"]</h1>
</div>
<div>
	<p><strong>TalentHunters</strong>, a company dealing with ERP systems, started its activities in July 2022. Our company aims to make life easier for both employees and employers by implementing properly optimized enterprise resource planning system.
		The main functions of TalentHunters, which promote the smooth operation of everyday and long-term work:</p>
	<ul>
		<li>Feature 1</li>
		<li>Feature 2</li>
		<li>Feature 3</li>
	</ul>
</div>



