@{
    ViewData["Title"] = "Contacts";
}
<div class="text-center">
	<h1>@ViewData["Title"]</h1>
</div>

<p class="text-center">Contacts page content.</p>

<div class="container text-center">
	<h5>Dalma Csernok - CEO</h5>
	<p><img src="/img/dalmacsernok.jpg" alt="" width="150" height="150"/></p>
	<p>+36 30/644-2697</p>
	<p><a href="mailto:dlmcsernok@gmail.com">dlmcsernok@gmail.com</a></p>
	<p><a href="https://github.com/dalmacsernok">Github Profile</a></p>
	<h5>Kasza Zsolt - CEO</h5>
	<p><img src="/img/zsoltkasza.jpg" alt="" width="150" height="150"/></p>
	<p>+36 70/948-9469</p>
	<p><a href="mailto:kaszazsolt90@gmail.com">kaszazsolt@gmail.com</a></p>
	<p><a href="https://github.com/DevonCarswell">Github Profile</a></p>
</div>



@*<div class="row justify-content-center">
	<div class="col-md-7 d-flex align-items-stretch">
		<div class="contact-wrap w-100 p-md-5 p-4">
			<h5 class="text-center">Do you have any questions? Let's get in touch!</h5>
			<form method="POST" id="contactForm" name="contactForm" novalidate="novalidate">
				<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" class="form-control" name="name" id="name" placeholder="Name" required/>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input type="email" class="form-control" name="email" id="email" placeholder="Email" required/>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<input type="email" class="form-control" name="subject" id="subject" placeholder="Subject" required/>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<textarea name="message" class="form-control" id="message" cols="30" rows="7" placeholder="Message" required></textarea>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<input type="submit" value="Send Message" class="btn btn-primary"/>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>*@

