@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1>Login</h1>
	<form>
		<label for="email">Email</label><br/>
		<input type="email" id="email" name="email" placeholder="example@gmail.com"><br/><br/>
		<label for="password">Password</label><br/>
		<input type="password" id="password" name="password" placeholder="password"><br/><br/>
		<button type="submit">Submit</button>
	</form>
	<br/>
	<a href="#">Forgot your password?</a><br/>
	<a href="#">Click here, to register.</a>
</div>
