@{
	ViewData["Title"] = "Registration";
}
<div class="text-center">
	<h1>@ViewData["Title"]</h1>
	<form>
		<label for="email">Please enter your email:</label><br/>
		<input type="email" id="email" name="email" placeholder="example@gmail.com" required><br/><br/>
		<label for="password">Please enter a password:</label><br/>
		<input type="password" id="password" name="password" placeholder="password" required><br/><br/>
		<label for="password">Confirm password:</label><br/>
		<input type="password" id="password" name="password" placeholder="password" required><br/><br/>
		<button type="submit">Register</button>
	</form>
	<br/>
</div>



